.slider_side {
    padding-right: 0px!important;
    padding-left: 0px!important;
}
.sign_side {
    padding-right: 0px!important;
    padding-left: 0px!important;
}

@media only screen and (max-width: 600px) {
    .sign_side{
        display: none !important;
    }
    .slider_side {
        width: 100%!important;
    }
}
@media only screen and (min-width: 600px) {
    .sign_side{
        display: none !important;
    }
    .slider_side {
        width: 100% !important;
    }
}

@media only screen and (min-width: 768px) {
    .sign_side{
        display: block !important;
    }
    .slider_side{
        width: 66.66666667% !important;
    }
}