.item_card {
    border: transparent;
    display: flex;
    flex-direction: column;
    transition: 0.4s;
    background-color: white;
    border-radius: 10px;
    height: 400px;
    padding: 8px;
    position: relative;
    width: 100%;
}
.item_card:hover{
    border: 0.3px solid rgba(169,169,169,0.3);
}
.img_wrapper {
    position: relative;
    width: 100%;
}
.item_img{
    width: 100%;
    border-radius: 6px;
}
.item_Card_Adds {
    position: absolute;
    bottom: -50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* transition: 0.4s; */
    visibility: hidden;
    transition: all 0.3s;
}

.item_card:hover .item_Card_Adds{
    bottom: 4px;
    display: flex;
    justify-content: space-between;
    visibility: visible;
}
.btn_wrap{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    align-items: center;
}
.btn_wrap:hover {
    color: var(--primary);
}
.details_link {
    text-decoration: none;
    color: black;
}
.restaurant_Sec {
    padding: 6px;
    width: 60%;
    border-radius: 20px;
    border: 0.25px solid rgba(169,169,169,0.3);
}
.item_price {
    font-weight: 700;
    color: #C30B0B;
}
.order_btn {
    background-color: var(--primary);
    border: transparent;
    color: white;
    padding: 6px;
    border-radius: 8px;
    width: 75%;
    align-self: center;
    position: absolute;
    bottom: 1.5rem;
}