.info_sec{
    padding: 12px;
    background-color: white;
}
.info_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 8px;
    border-right: 0.3px solid rgba(169,169,169,0.3);
}
.info_icon {
    color: var(--primary);
    font-weight: 700;
    font-size: 3rem;
}
.info_subTitle {
    color: rgba(169,169,169,0.8);
}